.loading-block {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1) 1.5s;
}

.loading-block.upperone {
    background-color: white;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.loading-block.downone {
    background-color: #dcff78;
    z-index: 99;
    transition-delay: 1.8s;
}

.loading-block-moveup {
    transform: translateY(-100%);
}

.init-Ref {
    opacity: 0;
}