body {
    margin: 0;
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(26, 26, 26);
    color: white;
}

.label-btn {
    display: block;
    width: 100px;
    height: 40px;
    background-color: rgb(138, 145, 145);
    border-radius: 100px;
}

.label-btn::after {
    content: "";
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    transition: transform 500ms ease-in-out;
}

#toggle {
    display: none;
}

#toggle:checked + .label-btn::after {
    transform: translateX(60px);
}

.light-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 300px;
}

#toggle:checked + label + .light-effect > div:nth-child(1) {
    background-color: white;
}

#toggle:checked + label + .light-effect > div:nth-child(2) {
    filter: Blur(100px);
}

.light-effect {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.light-effect > div {
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 50%;
}

.light-effect > div:nth-child(1) {
    position: absolute;
    background-color:rgb(52, 56, 56);
    z-index: 2;
    transition: background-color 0.5s;
}

.light-effect > div:nth-child(2) {
    width: 280px;
    height: 280px;
    transition: filter 0.8s;
}