body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent {
    width: 800px;
    height: 600px;
    padding: 60px;
    border: 2px solid brown;
    position: relative;
    display: flex;
    justify-content: center;
}

.child {
    background-color: rgb(77, 59, 139);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child1 {
    position: absolute;
    top: 60px;
    left: 60px;
}

.child2 {
    position: absolute;
    bottom: 60px;
    left: 60px;

}

.child3 {
    align-self: center;
}

.child4 {
    position: absolute;
    top: 60px;
    right: 60px;
}

.child5 {
    position: absolute;
    bottom: 60px;
    right: 60px;
}

