body {
    width: 100%;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    gap: 30px;
}


.one-card {
    height: 300px;
    width: 300px;
    border-radius: 16px;
    background-color: rgb(233, 233, 233);

    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2rem;
    cursor: pointer;

    box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.5);
    transform: all 0.35s linear;
}

.one-card:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 10px 40px -20px rgba(0, 0, 0, 0.3);
    background-color: rgb(232, 237, 241);
}